<!-- <p>buttons works!</p> -->
<h1 fxLayoutAlign="center start"><strong>SNACKBAR</strong></h1>
<div class="btns" fxLayoutAlign="center center">
    <div class="example-button-row"  fxLayoutGap="25px"  fxLayout="row" fxLayout.lt-md="column">
      <button mat-raised-button class="btn-1" (click)="success()">Success</button>
      <button mat-raised-button class="btn-2" (click)="warning()">Warning</button>
      <button mat-raised-button class="btn-3" (click)="fail()">Fail</button>
      <button mat-raised-button class="btn-4" (click)="default()">Default</button>
      <!-- <button mat-raised-button class="btn-5">5</button> -->
    </div>
</div>
