.btns{
  padding: 80px;
  background-color: beige;
}
.btn-1{
  background-color: green !important;
  color: white !important;
}
.btn-2{
  background-color: #ffc31e !important;
  color: white !important;
}
.btn-3{
  background-color: red !important;
  color: white !important;
}

.btn-4{
  background-color: black !important;
  color: white !important;
}
